NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SERVER_URL="http://localhost:3000/api"
NEXT_PUBLIC_S3_URL="s3 storage url"

NEXT_PUBLIC_SENTRY_DSN="https://<key>@o<orgId>.ingest.sentry.io/<projectId>"
SENTRY_AUTH_TOKEN="sntrys_..."
SENTRY_RELEASE="Git short SHA"
