{
	"trailingComma": "none",
	"useTabs": true,
	"semi": false,
	"tabWidth": 4,
	"jsxSingleQuote": true,
	"singleQuote": true,
	"arrowParens": "avoid",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/app/(.*)$",
		"^@/entities/(.*)$",
		"^@/features/(.*)$",
		"^@/shared/(.*)$",
		"^@/widgets/(.*)$",
		"^../(.*)$",
		"^./(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
