NODE_ENV='development || production || test'

COOKIES_SECRET="secret"
SESSION_SECRET='secret'
SESSION_DOMAIN='domain'
SESSION_NAME='name'
SESSION_MAX_AGE=30d
SESSION_HTTP_ONLY=true || false
SESSION_SECURE=false || true
SESSION_FOLDER='folder'

ALLOWED_ORIGIN='allowed origin'
PORT=5000

POSTGRES_USER='user'
POSTGRES_PASSWORD='password'
POSTGRES_HOST='host'
POSTGRES_PORT=5432
POSTGRES_DATABASE='database name'
DATABASE_URL="database url"

REDIS_USER='user'
REDIS_PASSWORD='password'
REDIS_HOST='host'
REDIS_PORT=6379
REDIS_URL="redis url"

## MAIL
MAIL_HOST='mail host'
MAIL_PORT='mail port'
MAIL_LOGIN='mail login'
MAIL_PASSWORD='mail password'

## S3
S3_ENDPOINT="s3 endpoint"
S3_REGION="s3 region"
S3_BUCKET_NAME="s3 bucket name"
S3_ACCESS_KEY_ID="s3 access key"
S3_SECRET_ACCESS_KEY="s3 secret access key"